.work-projects {
    padding: 0 162px;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {
    .work-projects {
        padding: 0 80px;
    }
}

@media screen and (max-width: 992px) {
    .work-projects {
        padding: 0 16px;
    }
}