:root{
  --myprimary-whitespacing : 162px;
  --myprimary-backgound-color : #000000;
  --mysecond-background-color : #9EFF00;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #262626;
  color: white;
}

.lm_whitespacing_x{
  padding-left: var(--myprimary-whitespacing);
  padding-right: var(--myprimary-whitespacing);
}

.lm_font_size_weight1, .lm_font_size_weight2 {
  font-size: 18px;
  font-weight: 500 ;
}


@media screen and (max-width : 1440px ) {
  :root{
    --myprimary-whitespacing : 80px;
  }

  .lm_font_size_weight1{
    font-size: 14px;
    font-weight: 500 ;
  }

  .lm_font_size_weight2{
      font-size: 16px;
      font-weight: 500 ;
    }
}


@media screen and (max-width : 992px) {
  :root{
    --myprimary-whitespacing : 16px;
  }

}
